
## <summary>policy for extreme_private_masternode</summary>


########################################
## <summary>
##	Transition to extreme_private_masternode.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`extreme_private_masternode_domtrans',`
	gen_require(`
		type extreme_private_masternode_t, extreme_private_masternode_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, extreme_private_masternode_exec_t, extreme_private_masternode_t)
')


########################################
## <summary>
##	Execute extreme_private_masternode server in the extreme_private_masternode domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`extreme_private_masternode_initrc_domtrans',`
	gen_require(`
		type extreme_private_masternode_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, extreme_private_masternode_initrc_exec_t)
')


########################################
## <summary>
##	Search extreme_private_masternode lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`extreme_private_masternode_search_lib',`
	gen_require(`
		type extreme_private_masternode_var_lib_t;
	')

	allow $1 extreme_private_masternode_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read extreme_private_masternode lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`extreme_private_masternode_read_lib_files',`
	gen_require(`
		type extreme_private_masternode_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, extreme_private_masternode_var_lib_t, extreme_private_masternode_var_lib_t)
')

########################################
## <summary>
##	Manage extreme_private_masternode lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`extreme_private_masternode_manage_lib_files',`
	gen_require(`
		type extreme_private_masternode_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, extreme_private_masternode_var_lib_t, extreme_private_masternode_var_lib_t)
')

########################################
## <summary>
##	Manage extreme_private_masternode lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`extreme_private_masternode_manage_lib_dirs',`
	gen_require(`
		type extreme_private_masternode_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, extreme_private_masternode_var_lib_t, extreme_private_masternode_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a extreme_private_masternode environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`extreme_private_masternode_admin',`
	gen_require(`
		type extreme_private_masternode_t;
		type extreme_private_masternode_initrc_exec_t;
		type extreme_private_masternode_var_lib_t;
	')

	allow $1 extreme_private_masternode_t:process { ptrace signal_perms };
	ps_process_pattern($1, extreme_private_masternode_t)

	extreme_private_masternode_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 extreme_private_masternode_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, extreme_private_masternode_var_lib_t)

')

